* {
  margin:0px;
  padding:0px;
}

h1 {
  color:green;
  text-align:center;
}

#cenachero {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  color:blue;
  display: block;
  width: 500px;
  margin: 50px auto;
  font: 24px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
