body {
  background-color: lightblue;
}

h1 {
  color:green;
  text-align:center;
  font-size: 48px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h2 {
  color:blue;
  text-align:center;
  font-size: 30px;
  text-shadow: 2px 2px 5px red;
}

h3 {
  color: black;
  text-align: center;
  font-size: 12px;
}

p {
  color:#B7EDFF;
  text-align:center;
  font-size: 24px;
  text-decoration: underline;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

#cenachero {
  display: block;
  width:128px;
  margin: 25px auto;
  border: 6px solid #E46238;
}

.center {
  margin: auto;
  width: 20%;
  border: 8px solid #2721AD;
}

ul {
  text-align:center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #7F7F7F;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border: 2px solid white;
}

li a:hover {
  background-color: white;
  color: #7F7F7F;
}
